<!DOCTYPE html>
<html>
<head>
  <title>SearchPoc</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/chosen.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/home_pages.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/home_pages.js?body=1" type="text/javascript"></script><style type="text/css"></style>
  <script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="JeN23VMeqzt9GSvOwBWhr3Zo+qkV7gg89R7Fd2Qkvpo=" name="csrf-token">
</head>
<body>

  <h1>Search POC</h1>

  <select id="query" multiple="multiple" name="query[]"></select>

  <div id="results"></div>


</body>
<script type="text/javascript" src='bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='chosen_v1.0.0/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localstorage.js'></script>
<script type="text/javascript" src='hogan-2.0.0.js'></script>

<script type="text/template" id="condition-group-template">
<% _.each( groups, function( thisGroup){  %>
  <optgroup label='<%= thisGroup[0].group %>'>
  <% _.each( thisGroup, function( thisItem ){ %>
    <option value='<%= thisItem.text %>' data-model-id='<%= thisItem.id %>'><%= thisItem.text %></option>
    <% }) %>
  </optgroup>
  <% }) %>
</script>
<script type="text/javascript">

$( document ).ready(function() {

  var app = app || {};

  app.Condition = Backbone.Model.extend({
    defaults: function() {
      return {
        group: null,
        selected: false,
        next: true
      };
    },

    select: function() {
      this.save({selected: true});
    }
  });

  var ConditionList = Backbone.Collection.extend({
    model: app.Condition,
    localStorage: new Backbone.LocalStorage("conditions-backbone"),
  });

  app.Conditions = new ConditionList();

  app.ConditionGroupView = Backbone.View.extend({
    template: _.template($("#condition-group-template").html()),

    initialize: function () {
      this.listenTo(app.Conditions, 'add', this.add);
    },

    add: function(condition) {
      condition.save();
    },

    render: function() {
      var groups = _.groupBy(app.Conditions.toJSON(), 'group');
      this.el = this.template({groups: groups});
      $('#query').children().remove();
      $('#query').append(this.el);
      return this;
    },
  });

  var conditionsGroupView = new app.ConditionGroupView(); // Start the conditions view

  app.Conditions.add([
    {group: "Phase", text: "Primary"},
    {group: "Phase", text: "Secondary"},
    {group: "Location", text: "Southwark"},
    {group: "Location", text: "Blackwell Heath"},
    {group: "Location", text: "Shoreditch"},
    {group: "Type", text: "Independant"},
    {group: "Type", text: "Private"}
  ]);

  conditionsGroupView.render();



  $('#query').chosen();
  $('#query').on('change', function(evt, params) {
    console.log("Chosen changed...");
  });
});


</script>
</html>
