<!DOCTYPE html>
<html>
<head>
  <title>SearchPoc</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/chosen.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/home_pages.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/home_pages.js?body=1" type="text/javascript"></script><style type="text/css"></style>
  <script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="JeN23VMeqzt9GSvOwBWhr3Zo+qkV7gg89R7Fd2Qkvpo=" name="csrf-token">
</head>
<body>

  <h1>Search POC</h1>

  <select id="query" multiple="multiple" name="query[]"></select>

  <div id="results">
  </div>


</body>
<script type="text/javascript" src='bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='chosen_v1.0.0/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localstorage.js'></script>
<script type="text/javascript" src='node_modules/url-template/lib/url-template.js'></script>

<script type="text/template" id="condition-group-template">
<% _.each( groups, function( thisGroup){  %>
  <optgroup label="<%= thisGroup[0].get('group') %>">
  <% _.each( thisGroup, function( thisItem ){ %>
    <option value="<%= thisItem.get('id') %>"<%= thisItem.selectedAttribute() %>><%= thisItem.get('text') %></option>
    <% }) %>
  </optgroup>
  <% }) %>
</script>
<script type="text/template" id="selected-conditions-template">
<h3>Selected Criteria</h3>
<% _.each( conditions, function( thisCondition){  %>
  <div><span><%= thisCondition.get('group') %></span> - <span><%= thisCondition.get('text') %></span></div>
  <% }) %>
</script>
<script type="text/javascript">

$( document ).ready(function() {

  var app = app || {};

  app.Condition = Backbone.Model.extend({
    defaults: function() {
      return {
        group: null,
        selected: false,
        selectable: true
      };
    },
    select: function() {
      this.save({selected: true});
    },
    deselect: function() {
      this.save({selected: false});
    },
    selectedAttribute: function() {
      if (this.get('selected')) {
        return " selected";
      } else {
        return "";
      }
    }
  });

  var ConditionList = Backbone.Collection.extend({
    model: app.Condition,
    localStorage: new Backbone.LocalStorage("conditions-backbone"),
    selectable: function() {
      return this.filter(function(condition) {
        return condition.get('selectable');
      });
    },
    allowGroup: function(group) {
      this.forEach(function(condition) {
        if(condition.get('group') == group || condition.get('selected')) {
          condition.set('selectable', true);
        } else {
          condition.set('selectable', false)
        };
        condition.save();
      });
    },
    select: function(id) {
      selectedCondition = app.Conditions.findWhere({id: id});
      selectedCondition.select();
      selectedGroup = selectedCondition.get('group');
      this.allowGroup(this.nextGroupAllowed(selectedGroup));
    },
    nextGroupAllowed: function(selectedGroup) {
      if (selectedGroup == "Phase") {
        return "Location";
      } else if (selectedGroup == "Location") {
        return "Type";
      } else {
        return "";
      }
    },
    deselect: function (id) {
      deselectedCondition = app.Conditions.findWhere({id: id});
      deselectedCondition.deselect();
      deselectedGroup = deselectedCondition.get('group');
      this.allowGroup(deselectedGroup);
    },
  });

app.Conditions = new ConditionList();

app.ConditionGroupView = Backbone.View.extend({
  template: _.template($("#condition-group-template").html()),

  initialize: function () {
    this.listenTo(app.Conditions, 'add', this.add);
  },

  add: function(condition) {
    condition.save();
  },

  render: function() {
    var selectable = app.Conditions.selectable();
    var groups = _.groupBy(selectable, function(object) { return object.get('group') });
    this.el = this.template({groups: groups});
    $('#query').children().remove();
    $('#query').append(this.el);
    return this;
  },
});

app.SelectedConditionsGroupView = Backbone.View.extend({
  template: _.template($("#selected-conditions-template").html()),
  render: function() {
    selectedConditions = app.Conditions.where({selected: true});
    $('#results').html(this.template({conditions: selectedConditions}));
  },
});

  app.conditionsGroupView = new app.ConditionGroupView(); // Start the conditions view
  app.selectedConditionsView = new app.SelectedConditionsGroupView();

  app.Conditions.add([
    {group: "Phase", text: "Primary"},
    {group: "Phase", text: "Secondary"},
    {group: "Location", text: "Southwark"},
    {group: "Location", text: "Blackwell Heath"},
    {group: "Location", text: "Shoreditch"},
    {group: "Type", text: "Independant"},
    {group: "Type", text: "Private"}
    ]);

  app.conditionsGroupView.render();

  $('#query').chosen();
  $('#query').on('change', function(evt, params) {
    conditionWasSelected = params.selected != null;
    if (conditionWasSelected) {
      app.Conditions.select(params.selected);
    } else {
      app.Conditions.deselect(params.deselected);
    };
    app.conditionsGroupView.render();
    app.selectedConditionsView.render();
    $('#query').trigger('chosen:updated');
  });

  var paramTemplate = urltemplate.parse(' ?___{key} rdfs:label "{value}" . ?item {namespace}:{key} ?___{key} .');

  prefixes = 'PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX school: <http://education.data.gov.uk/def/school/>';
  select = ' SELECT ?name ?item';
  where  = ' WHERE { ?item rdf:type school:School . ?item rdfs:label ?name .';
  limit  = ' } OFFSET 0 LIMIT 10';

  base_url = 'http://education.data.gov.uk/sparql/education/query?query=';

  encodedPrefixes = encodeURIComponent(prefixes)
  encodedSelect   = encodeURIComponent(select)
  encodedWhere    = encodeURIComponent(where);
  encodedLimit    = encodeURIComponent(limit);
  encodedPhase    = paramTemplate.expand({key: "phaseOfEducation", namespace: "school", value: "Primary"});
  encodedFormat   = '&output=json&stylesheet=xml-to-html.xsl&force-accept=text%2Fplain';

  url = base_url + encodedPrefixes + encodedSelect + encodedWhere + encodedPhase + encodedLimit + encodedFormat,

  $.ajax({
    dataType: "jsonp",
    url: url,
    success: function(data) {    
      var bindings = data.results.bindings;
      for(rowIdx in bindings){
        console.log(bindings[rowIdx]);
      } 
    }
  });

});


</script>
</html>
