<!DOCTYPE html>
<html>
<head>
  <title>SearchPoc</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
<link href="/assets/chosen.css?body=1" media="all" rel="stylesheet" type="text/css">
<link href="/assets/home_pages.css?body=1" media="all" rel="stylesheet" type="text/css">
<link href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/home_pages.js?body=1" type="text/javascript"></script><style type="text/css"></style>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param">
<meta content="JeN23VMeqzt9GSvOwBWhr3Zo+qkV7gg89R7Fd2Qkvpo=" name="csrf-token">
</head>
<body>

<h1>Search POC</h1>

<select id="query" multiple="multiple" name="query[]" style="{:width=&gt;&quot;100%&quot;}">
<optgroup label="Phase">
  <option value="Primary">Primary</option>
  <option value="Secondary">Secondary</option>
</optgroup>
</select>

<div id="results"></div>


</body>
<script type="text/javascript" src='bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='chosen_v1.0.0/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localstorage.js'></script>
<script type="text/javascript" src='hogan-2.0.0.js'></script>

<script type="text/template" id="condition-group-template">
<% _.each( groups, function( thisGroup){  %>
  <optgroup label='<%= thisGroup[0].group %>'>
  <% _.each( thisGroup, function( thisItem ){ %>
    <option value='<%= thisItem.text %>'><%= thisItem.text %></option>
  <% }) %>
  </optgroup>
<% }) %>
</script>
<script type="text/javascript">

$( document ).ready(function() {

  var app = app || {};

  app.Condition = Backbone.Model.extend({
    defaults: function() {
      return {
        group: null,
        selected: false
      };
    },

    select: function() {
      this.save({selected: true});
    }
  });

  app.ConditionView = Backbone.View.extend({
    tagName: "option",

    render: function() {
      this.$el.attr("value", this.model.get('text'));
      this.$el.html(this.model.get('text'));
      return this;
    },
  });

  app.ConditionGroupView = Backbone.View.extend({
    template: _.template($("#condition-group-template").html()),

    render: function() {
      var groups = _.groupBy(app.Conditions.toJSON(), 'group');
      this.el = this.template({groups: groups});
      return this;
    },
  });

  var ConditionList = Backbone.Collection.extend({
    model: app.Condition,
    localStorage: new Backbone.LocalStorage("conditions-backbone"),
  });

  app.Conditions = new ConditionList();

  app.ConditionsView = Backbone.View.extend({

    initialize: function () {
      this.listenTo(app.Conditions, 'add', this.addOne);
    },
    addOne: function (condition) {
      var view = new app.ConditionGroupView({ model: condition });
      $('#query').children().remove();
      $('#query').append(view.render().el);
    },
    render: function() {
      return this;
    },
  });

  new app.ConditionsView(); // Start the conditions view

  app.Conditions.create({group: "Location", text: "Southwark"});
  app.Conditions.create({group: "Location", text: "Blackwell Heath"});
  app.Conditions.create({group: "Phase", text: "Primary"});
  app.Conditions.create({group: "Phase", text: "Secondary"});

  $('#query').chosen();

  $('#query').on('change', function(evt, params) {
    console.log("Chosen changed...");
  });



});


</script>
</html>
