<h1>Search POC</h1>

<span class="chosen-container chosen-container-multi chosen-container-active" style="width: 350px;" title="">
  <span>Sloth Bear</span>
  <span>Polar Bear</span>
  <input id="q2" name="q2" type="text" value="" autocomplete="off" spellcheck="false">

</span>
