<h1>Search POC</h1>

<span class="chosen-container chosen-container-multi chosen-container-active" style="width: 100%;" title="">
  <ul class="chosen-choices">
    <li class="search-choice">
      <span>Sloth Bear</span>
    </li>
    <li class="search-choice">
      <span>Polar Bear</span>
    </li>
    <li><input id="q2" name="q2" type="text" value="" autocomplete="off" spellcheck="false"></li>
  </ul>

</span>
