<!DOCTYPE html>
<html>
<head>
  <title>SearchPoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
<script type="text/javascript" src='bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='chosen_v1.0.0/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localstorage.js'></script>
<script type="text/javascript" src='hogan-2.0.0.js'></script>

<script type="text/javascript">

$( document ).ready(function() {

  var app = app || {};

  app.Condition = Backbone.Model.extend({
    defaults: function() {
      return {
        group: null,
        text: "Search Term",
        selected: false
      };
    },

    select: function() {
      this.save({selected: true});
    }
  });

  app.ConditionView = Backbone.View.extend({
    tagName: "option",

    render: function() {
      this.$el.attr("value", this.model.get('text'));
      this.$el.html(this.model.get('text'));
      return this;
    },
  });

  var ConditionList = Backbone.Collection.extend({
    model: app.Condition,
    localStorage: new Backbone.LocalStorage("conditions-backbone"),
  });

  app.Conditions = new ConditionList();

  app.ConditionsView = Backbone.View.extend({
    initialize: function () {
      this.listenTo(app.Conditions, 'add', this.addOne);
    },
    addOne: function (condition) {
      var view = new app.ConditionView({ model: condition });
      $('#query optgroup').append(view.render().el);
    },
    render: function() {
      return this;
    },
  });

  new app.ConditionsView(); // Start the conditions view

  app.Conditions.create({text: "Southwark"});
  app.Conditions.create({text: "Blackwell Heath"});

  $('#query').chosen();

  $('#query').on('change', function(evt, params) {
    console.log("Chosen changed...");
  });



});


</script>
</html>
