<!DOCTYPE html>
<html>
<head>
  <title>SearchPoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
<script type="text/javascript" src='bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='chosen_v1.0.0/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localstorage.js'></script>
<script type="text/javascript" src='hogan-2.0.0.js'></script>

<script type="text/javascript">

$( document ).ready(function() {
  $('#query').chosen();

  var Condition = Backbone.Model.extend({

    // Default attributes
    defaults: function() {
      return {
        type: "Type",
        text: "Search Term",
        selected: false
      };
    },

    select: function() {
      this.save({selected: true});
    }
  });

  var ConditionList = Backbone.Collection.extend({

    // Reference to this collection's model.
    model: Condition,

    // Save all of the todo items under the `"todos-backbone"` namespace.
    localStorage: new Backbone.LocalStorage("conditions-backbone"),

    unselected: function() {
      return this.where({selected: false});
    },
    
    selected: function() {
      return this.where({selected: true});
    },


    nextConditionType: function() {
      if (this.selected.length == 0) {
        return "phase";

      } else if (this.selected.length == 1) {
        return "district";

      } else {
        return "term";
      }
    },

    selectConditionWithText: function(text) {
      var conditionWithText = this.where({text: text})[0];
      conditionWithText.select();
    }

  });

  var Conditions = new ConditionList;

  $('#query').on('change', function(evt, params) {
    Conditions.selectConditionWithText(params.selected);

    Conditions.remove(Conditions.unselected());


  });

  Conditions.create({type: "phase", text: "Primary"});
  Conditions.create({type: "phase", text: "Secondary"});

});


</script>
</html>
